#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			driver: mysql
			host: localhost
			dbname: test
			user:
			password:


	php:
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes


	nette:
		session:
			expiration: '+ 14 days'

		database:
			default:
				dsn: 'xsebek02:host=localhost;dbname=xsebek02'
				user: xsebek02
				password: j3kajmej


	services:
		database: @Nette\Database\Connection
		authenticator: IIS/Authenticator( @database )
		donor: IIS/Donor
		drawn: IIS/Drawn
		invitation: IIS/Invitation
		nurse: IIS/Nurse
		reservation: IIS/Reservation
		station: IIS/Station

	factories:


production < common:

development < common:
