
{block content}
<div class="ym-gbox">
    <h2>
            Have you forgotten your credentials?
    </h2>
    <p>
        In case you forgotten your credentials and you are now unable to log in,
        please, visit one of our <a n:href="Sign:station">station</a> with some
        of your identity documents so our personal is able to reset your credentials.
        Thank you.
    </p>
</div>
{/block}