{var $robots = noindex}

{block #content}

<div id="main">
    <div class="ym-wrapper">
      <div class="ym-wbox">
<h1>Sign in</h1>

<form class="ym-form ym-columnar">
{control signInForm}
    </form>
    </div>
   </div>
</div>