
{block content}
<div class="ym-wbox">


    <div class="pi-label">Name</div>
    <div class="pi-value">{$stationInfo->name}</div>
    <div class="pi-label">Address</div>
    <div class="pi-value">{$stationInfo->street}<br />{$stationInfo->postal_code}, {$stationInfo->city}</div>
</div>
<div class="box">
{control stationsForm}

</div>
<div class="ym-gbox"><a n:href="Donor:default" class="ym-button">Back home</a></div>
{/block}