th input {
    width: 100px;
}

.pagination-centered{
    margin: 0 auto;
    text-align: center;
}

.grid-paginator li{
    display: inline;
}

footer {
    text-align: center;
    width: 100%;
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:60px;
}