{block content}

 <nav>
    <div class="ym-wrapper">
      <div class="ym-hlist">
        {widget navigation}
      </div>
    </div>
</nav>
<div id="main">
    <div class="ym-wrapper">
      <div class="ym-wbox">
        {control donorsList}    
      </div>
    </div>
</div>
{/block}