{block title}
Drawns
{/block}
{block content}
{var $nurse = $user->isInRole('nurse')}
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Donor</th>
        <th>Blood type</th>
        {if $nurse}<th>Nurse</th>{/if}
        {if $nurse}<th>Store</th>{/if}
        {if $nurse}<th>Reservation</th>{/if}
        <th>Quality</th>
      
     </tr>
    </thead>
    <tbody>
    {foreach $drawns as $drawn}
    <tr n:class="$iterator->isOdd() ? odd : even">
        <td>{$drawn->date}</td>
        <td>{$drawn->donor}</td>
        <td>{$drawn->blood_type}</td>
        {if $nurse}<td>{$drawn->nurse}</td>{/if}
        {if $nurse}<td>{$stationNames[$drawn->store]}</td>{/if}
        {if $nurse}<td>{$drawn->reservation}</td>{/if}
        <td>{$drawn->quality}</td>
    </tr>
    {/foreach}
    </tbody>
</table>
<a href="{plink Donor:addDrawn $donorid}" class="ym-button">Add drawn</a>
{/block}