{block title}
Invitation
{/block}
{block content}
<table>
    <thead>
    <tr>
        <th>Donor</th>
        <th>Date</th>
        <th>Station</th>
        <th>type</th>
      
     </tr>
    </thead>
    <tbody>
    {foreach $invitations as $invitation}
    <tr n:class="$iterator->isOdd() ? odd : even">
        <td>{$invitation->donor}</td>
        <td>{$invitation->date}</td>
        <td>{$stationNames[$invitation->station]}</td>
        <td>{$invitation->type}</td>
    </tr>
    {/foreach}
    </tbody>
</table>

<a href="{plink Donor:addInvitation $donorid}" class="ym-button">Add invitation</a>
{/block}